#include <dt-bindings/pinctrl/hpmicro-pinctrl-common.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		onboard-imu-cs = &imu_cs;
		onboard-imu-drdy = &imu_drdy;
	};

	imu_test_gpios {
		compatible = "gpio-leds";

		imu_cs: imu_cs {
			gpios = <&gpioa 26 GPIO_ACTIVE_LOW>;
		};

		imu_drdy: imu_drdy {
			gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
		};
	};
};

&pinctrl {
	/* 去掉 PA26 的 SPI CS 复用，只保留 MOSI/MISO/SCK
	 * 让 PA26 保持 GPIO 功能，由软件控制
	 */
	pinmux_spi2_nocs: pinmux_spi2_nocs {
		group0 {
			pinmux = <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTA, 27), IOC_TYPE_IOC, 0, 5)>,
				 <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTA, 31), IOC_TYPE_IOC, 0, 5)>,
				 <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTB,  0), IOC_TYPE_IOC, 0, 5)>;
			input-enable;
		};
	};

	pinmux_gpioa_imu_cs: pinmux_gpioa_imu_cs {
		group0 {
			pinmux = <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTA, 26), IOC_TYPE_IOC, 0, 0)>;
		};
	};
};

&spi2 {
	/* 覆盖 board 的 pinctrl，使用去掉 PA26 的版本 */
	pinctrl-0 = <&pinmux_spi2_nocs>;
	pinctrl-names = "default";
	/* 删除控制器默认 CS；测试通过 spi_config.cs 让 SPI context 管理 PA26 GPIO。 */
	/delete-property/ cs-gpios;
};

/* Reserve UART0 for VOFA at the project-wide 921600 baud setting. */
&uart0 {
	status = "okay";
	current-speed = <921600>;
};

/* 确保 gpioa 已启用 */
&gpioa {
	status = "okay";
	pinctrl-0 = <&pinmux_gpioa_imu_cs>;
	pinctrl-names = "default";
};

/* Board pinctrl already configures PB09/PB12 as pulled-down GPIO inputs. */
&gpiob {
	status = "okay";
};

&cherryusb_usb0 {
	status = "disabled";
};
